<component name="ArtifactManager">
  <artifact type="exploded-war" name="Spring5">
    <output-path>$PROJECT_DIR$/out/artifacts/Spring5</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="Spring5_Demo/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Spring5_Demo" />
        </element>
      </element>
    </root>
  </artifact>
</component>